name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: node
          package-name: orio-ui

      # Publish to npm when a release is created
      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v6

      - name: Setup Node.js
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
          cache: npm

      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: npm i --no-audit --no-fund

      - name: Prepare Nuxt
        if: ${{ steps.release.outputs.release_created }}
        run: npx nuxi prepare

      - name: Run tests
        if: ${{ steps.release.outputs.release_created }}
        run: npm run test:unit

      - name: Publish to npm
        if: ${{ steps.release.outputs.release_created }}
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
